.app-button {
    box-shadow: 0 0 64px 20px rgba(0, 0, 0, 0.07);
    border: none;
    outline: none;
    font-size: 30px;
    height: 150px;
    padding: 0 30px;
    font-family: TochkaSans-Regular, sans-serif;
    width: 100%;
}

.real {
    border-radius: 100px 0 0 100px;
    background: linear-gradient(0.25turn, #6df1c1,  #ffeb45);
    margin-left: 60px;
}

.fake {
    border-radius: 0 100px 100px 0;
    background: linear-gradient(0.25turn, #64c3ff,  #fd9afc);
    margin-right: 60px;
}

button:hover, button:focus {
    box-shadow: 0 0 64px 20px rgba(0, 0, 0, 0.15);
}

.fake:active {
    background: linear-gradient(0.25turn, #24c3ff,   #b47dff);
    transition: ease-in-out 210ms;
    width: 180%;
}

.real:active {
    background: linear-gradient(0.25turn, #6de1c1, #fadb00);
    transition: ease-in-out 210ms;
    width: 180%;
}

@media screen and (max-width: 480px) {
    .app-button {
        font-size: 24px;
    }

    .real {
        border-radius: 100px 0 0 100px;
        background: linear-gradient(0.25turn, #6df1c1,  #ffeb45);
        margin-left: 40px;
    }

    .fake {
        border-radius: 0 100px 100px 0;
        background: linear-gradient(0.25turn, #64c3ff,  #fd9afc);
        margin-right: 40px;
    }
}
